
@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none; 
}

body {
    background-color: black;
    color: white;
    font-family: "Reddit Mono", monospace;
}

main {
    width: 70%;
    margin: auto;
    display: flex;
}

/* top part */

header {
    margin: 4rem;
    text-align: center;
}

/* left side */

#leftContent {
    flex-shrink: 0;
    display: flex;
    flex-flow: row wrap;
    width: 600px;
    margin: auto;
}

#gameContent {
    border: 5px white solid;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 600px;
    height: 600px;
    margin: 0 auto;
}

#gameContent div {
    border: 1px solid rgb(146, 146, 146);
    width: 12.5%;
    height: 12.5%;
    background-color: rgb(0, 0, 0);
}
#gameContent div.Grass {
    background-color: rgba(255, 255, 255, 0);
    background-image: url(/sprites/Grass.png);
    background-size: contain;
}
#gameContent div.Stairs {
    background-image: url(/sprites/Stairs.png);
    background-size: contain;
}
#gameContent div.RedArrow {
    background-image: url(/sprites/RedArrow.png);
    background-size: contain;
}
#gameContent div.RedRug {
    background-image: url(/sprites/RedRug.png);
    background-size: contain;
}
#gameContent div.RedRug2 {
    background-image: url(/sprites/RedRug.png);
    background-size: contain;
    transform: rotate(180deg);
}
#gameContent div.Rock {
    background-image: url(/sprites/Rock.png);
    background-size: contain;
}
#gameContent div.Alert {
    background-image: url(/sprites/Alert.png);
    background-size: contain;
}
#gameContent div.Laser {
    background-image: url(/sprites/Laser.png);
    background-size: contain;
}
#gameContent div.Kunai {
    background-image: url(/sprites/Kunai.png);
    background-size: contain;
}


#gameContent div img {
    width: 100%;
    height: 100%;
}

#gameBar {
    margin-top: 1rem;
    box-sizing: content-box;
    border: 5px white solid;
    display: flex;
    flex-flow: row wrap;
    align-self: flex-end;
    width: 100%;
}

#gameBar h2 {
    margin: 1rem;
    width: 100%;
    color: white;
}

#gameBar>div {
    margin: 0 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

#health {
    display: flex;
    align-items: center;
}

#health img {
    height: 32px;
    object-fit: cover;
    margin-right: 1rem;
    background-color: white;
}

#gameBar>div p {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}

/* right side */

#rightContent {
    margin: 0 1rem;
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 300px;
}

#gameMap,
#gameInventory,
#gameTextInput {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 1rem;
}

#rightContent section h2 {
    margin-bottom: 1rem;
}

#map {
    display: flex;
    flex-flow: row wrap;
    border: 5px white solid;
    width: 300px;
    height: 300px;
}

#map div {
    border: 1px solid rgb(146, 146, 146);
    width: 33.333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333%;
    height: 33.33333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333%;
    background-color: rgb(0, 0, 0);
}

#map div img {
    width: 100%;
    height: 100%;
}

#inventory {
    display: flex;
    flex-flow: row wrap;
    border: 5px white solid;
    width: 300px;
    height: 300px;
}

#inventory div {
    border: 1px solid rgb(146, 146, 146);
    background-color: rgb(0, 0, 0);
    width: 25%;
    height: 25%;
    position: relative;
}

#inventory div img {
    width: 100%;
    height: 100%;
}
#inventory .itemDesc {
    position: absolute;
    top: -73px;
    left: -5px;
    border: none;
    background-color: transparent;
    width: 300px;
    height: auto;
    font-size: .8rem;

}
#inventory .itemDesc div{
    border: none;
    background-color: rgb(55, 55, 55);
    width: auto;
    height: auto;
    padding: 1rem;
    z-index: 1;
    border-radius: 1rem;
}
#inventory  a.itemUse{
    background-color: green;
    position: absolute;
    top: 25px;
    left: 4px;
    z-index: 2;
    width: 60px;
    height: 20px;
    text-align: center;
    border: none;
    border-radius: 5px;
}
#inventory a.itemUse:hover{
    background-color: rgb(255, 255, 255);
    color: green;
}



#gameButton {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#button {
    background-color: white;
    padding: .5rem;
    border-radius: .7rem;
    color: black;
    text-decoration: none;
}

#history {
    display: flex;
    border: 5px white solid;
    width: 300px;
    height: 600px;
}

#inputDiv {
    width: 100%;
    align-self: flex-end;
    display: flex;
}

#inputMoves {
    width: 85%;
    border: 0 solid white;
    background-color: rgb(166, 166, 166);
    padding: .5rem;
    color: white;
}

#inputDiv button {
    flex-grow: 1;
    border: none;
    background-color: rgb(168, 168, 168);
    border-left: 2px rgb(0, 0, 0) solid;
}

#inputDiv button:active {
    background-color: rgb(50, 149, 49);
}

#inputMoves:focus {
    border: 0 none green;
    background-color: rgb(108, 108, 108);
    outline: none;

}

/* footer */

footer {
    text-align: center;
    margin-top: 4rem;
    background-color: rgb(12, 3, 81);
    padding: 2rem;
}

.displayNone {
    display: none !important;
}

/* story */

#start {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(0, 0, 0);
    text-align: center;
}

#start img {
    width: 35%;
}

#start div {
    background-color: white;
    text-decoration: none;
    border-radius: 1rem;
    font-size: 4rem;
    width: 5rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
    width: 20rem;
    font-family: "Pixelify Sans", sans-serif;

}
#start div.fire{
    animation: fire 1s;
    animation-iteration-count: 1;

}
.fire{
    /* background-color: rgb(255, 0, 0) !important; */
    animation: fire 1s;
    /* animation-iteration-count: 1; */

}
#start div.yellow{
    animation: yellow 1s;
    animation-iteration-count: 1;

}
.yellow{
    /* background-color: rgb(255, 0, 0) !important; */
    animation: yellow 1s;
    /* animation-iteration-count: 1; */

}

@-webkit-keyframes yellow {
    100% {background-color: rgb(0, 0, 0);}
    0% {background-color: rgb(229, 255, 0);}
} 


@-webkit-keyframes fire {
    100% {background-color: rgb(0, 0, 0);}
    0% {background-color: rgb(255, 0, 0);}
} 




#start a {
    background: linear-gradient(to right, #050505 0, rgb(255, 0, 0) 10%, #000000 20%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    white-space: nowrap;
}
#gameContent #textContent {
    position: absolute;
    width: 560px;
    border: white 4px solid;
    height: 150px;
    align-self: flex-end;
    margin-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
    box-sizing: content-box;
    align-items: center;

}
#textContent p {
    width: 100%;
    height: 70%;
    padding-right: 1rem;
}
#textContent h2 {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
}

#textContent img{
    border: none;
}
#textContent #textLeft {
    width: auto;
    height: 150px;
    margin-right: 20px;
    border: none;

}
#textContent #textRight {
    flex-grow: 1;
    height: 150px;
    border: none;
    position: relative;
}
#gameContent #imgSpark {
    position: absolute;
    animation: textSpark .5s infinite 100ms;
    transform: rotate(90deg);
    width: 20px;
    height: 20px;
    right: 10px;
    bottom: 10px;
    color: white;
    background-color: white;
}
[src="sprites/Spark.png"]{
    animation: spark .4s infinite 100ms;
}
@-webkit-keyframes textSpark {
    100% {opacity: 1;}
    50% {opacity: 0;}
    0% {opacity: 0;}
} 

@-webkit-keyframes spark {
    100% {opacity: 1;}
    50% {opacity: .85;}
    0% {opacity: .6;}
} 

/* @keyframes fade {
    from {opacity: 1;}
    to {opacity: 0;}
} */
#textContent #textLeftO {
    width: 50%;
    height: 100px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
#textContent #textRightO {
    flex-grow: 1;
    height: 100px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
#textContent #textRightO p, #textContent #textLeftO p {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem;
    height: 100%;
}
#textContent #textRightO:hover, #textContent #textLeftO:hover {
    background-color: #3c3c3c;
}
#textContent #text1:hover, #text2:hover , #text3:hover{
    background-color: #3c3c3c;
}

#optionH2{
    width: 100%;
    height: 30px;
    padding: 1rem;
}
#textContent #text1,#textContent #text2,#textContent #text3{
    width: 33%;
    height: 100px;
    border: none;
    padding: 1rem;
}
p.counter {
    position: absolute;
    right: 2px;
    bottom: 2px;
    background-color: #ffffffa1;
    color: black;
}
img.an90{
    transform: rotate(90deg);
}
img.an180{
    transform: rotate(180deg);
}
img.an270{
    transform: rotate(270deg);
}
#mobileControls{
    width: 90%;
    margin: auto;
    margin-top: 1rem;
}
#upControls {
    margin-bottom: 1rem;
}
#mobileControls section{
    display: none;
    justify-content: space-between;
    width: 100%;;
}



#mobileControls section div{
    color: white;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
#moveUp, #moveLeft, #moveDown, #moveRight{
    background-color: #7b7b7b;
    border-radius: .5rem;
}
#interract {
    background-color: #aa1616;
    border-radius: 3rem;
}


@keyframes shine {

    0% {
        background-position: 0
    }

    60% {
        background-position: 180px
    }

    100% {
        background-position: 360px
    }

}

/* text box */




@media only screen and (max-width: 1500px) {
    main {
        width: 80%;
    }
    #start h1 {
        margin: 6rem 0;
    }
}

    @media only screen and (max-width: 1200px) {
    main {
        flex-flow: column nowrap;
        width: 90%;
    }

    #rightContent {
        margin: 0 auto;
        margin-top: 1rem;
        flex-flow: row wrap;
        width: 100%;
        justify-content: center;
    }

    #map {
        margin-right: 20px;
    }

    #map,
    #inventory {
        height: 290px;
        width: 290px;
    }

    #history {
        width: 600px;
    }

    #gameButton {
        width: 100%;
    }
    #start img {
        width: 90%;
    }    
}
@media only screen and (max-height: 770px) {

    #gameContent,
    #map,
    #inventory {
        width: 500px;
        height: 500px;
    }
    #leftContent {
        width: 500px;
     }
     #start div {
        font-size: 2rem;
        height: 6rem;
        width: 12rem;
    }
    #start img {
        width: 30%;
    }
   

}
@media only screen and (max-height: 650px) {

    #gameContent,
    #map,
    #inventory {
        width: 400px;
        height: 400px;
    }
    #leftContent {
        width: 400px;
    }

}

@media only screen and (max-width: 700px) {
    #mobileControls section{
        display: flex;
    }
    h1{
        width: 300px;
        margin: auto;
    }
    main {
        flex-flow: column nowrap;
        width: 100%;
    }
    header {
        margin: 2rem 0  ;
    }
    #gameContent,
    #map,
    #inventory {
        width: 380px;
        height: 380px;
    }
    
    #map {
        margin-right: 0;
    }
    
    #leftContent {
        width: 380px;
    }
    
    #history {
        width: 300px;
    }
    
    #rightContent {
        flex-flow: column wrap;
        width: 100%;
    }
    #gameContent #textContent {
        width: 350px;
        height: 100px;
        margin-bottom: 10px;
    }
    #textContent #textLeftO, #textContent #textRightO {
        height: 70px;
    }
    #textContent #textLeft, #textContent #textRight {
        height: 100px;
    }
    #textContent #textLeft {
        width: 50px;
        height: 50px;
        margin: 0 10px;
    }
    #textContent p {
        padding-right: .5rem;
        font-size: .7rem;
    }
    #textContent h2 {
        font-size: 1rem;
    }
    #optionH2{
        height: 30px;
        padding: 1rem;
    }
    #textContent #text1,#textContent #text2,#textContent #text3{
        padding: .3rem;
        height: 70px;
    }
    #start div {
        font-size: 2rem;
        height: 6rem;
        width: 12rem;
    }
    #start img {
        width: 80%;
    }    
    #gameBar>div {
        flex-flow: column;
        align-items: flex-start;
    }
    #health img{
        height: 28px;
        margin-bottom: 5px;
    }
    #gameBar>div p{
        font-size: 1rem;
    }

}


@media only screen and (max-width: 385px) {

    #gameContent,
    #map,
    #inventory {
        width: 300px;
        height: 300px;
    }
    #leftContent {
        width: 300px;
    }
    #history {
        width: 300px;
    }
    #gameContent #textContent {
        width: 260px;
        height: 130px;
    }
    #textContent #textLeftO, #textContent #textRightO {
        height: 91px;
    }
    #textContent #textLeft, #textContent #textRight {
        height: 130px;
    }
    #textContent #text1,#textContent #text2,#textContent #text3{
        height: 91px;
    }
    #textContent #textLeft{
        width: 50px;
        height: 50px;
 
    }
}

